#header
{

/* Rectangle 1 */

position: absolute;
width: 1440px;
height: 96px;
left: 0px;
top: 0px;

background: #2EB2BA;


}
#headerenter
{
   

/* Войти */

position: absolute;
width: 124px;
height: 31px;
left: 1310px;
top: 55px;

font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
/* or 117% */

color: #000000;
cursor: pointer;

}
#Lable1
{/* STOCK IMMAGE */






position: absolute;
width: 567px;
height: 43px;
left: calc(50% - 567px/2 - 150.5px);
top: calc(50% - 43px/2 - 427.5px);

font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 42px;
/* or 66% */
text-align: center;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);



}
#login{
	/* image 2 */

position: absolute;
width: 40px;
height: 37px;
left: 1262px;
top: 55px;

background: url(login.png);

}












#content
{
   /* image 4 */

position: absolute;
width: 692px;
height: 768px;
left: 0px;
top: 128px;

background: url(SerdPhoto.png);



}


#frame1
{
    /* STOCK IMMAGE */

position: absolute;
width: 230px;
height: 41px;
left: 61px;
top: 962px;

font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
/* or 117% */

color: #000000;


}
#frame2
{
    /* winsmart@mail.ru */

position: absolute;
width: 154px;
height: 42px;
left: 632px;
top: 948px;

font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 42px;
/* identical to box height, or 175% */
text-align: center;
text-decoration-line: underline;

color: #000000;

 
}
#frame3
{
    /* All rights reserved, 2021 */

position: absolute;
width: 206px;
height: 42px;
left: 1223px;
top: 948px;

font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 42px;
/* identical to box height, or 175% */
text-align: center;

color: #000000;


}
#MainText1{
	/* Загрузи свои фотографии */

position: absolute;
width: 723px;
height: 58px;
left: 700px;
top: 266px;

font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 42px;
/* or 87% */
text-align: center;

color: #000000;



}
#MainText2{
	/* И о ваших работах узнают тысячи людей и потенциальных заказчиков */

position: absolute;
width: 797px;
height: 152px;
left: 666px;
top: 360px;

font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
/* or 117% */
text-align: center;

color: #000000;




}
#MainText3{
	/* Для загрузки фото,пожалуйста авторизуйтесь */

position: absolute;
width: 542px;
height: 90px;
left: 762px;
top: 577px;

font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
/* or 117% */
text-align: center;

color: #000000;



}
#line1 {
	/* Line 1 */

position: absolute;
width: 1440px;
height: 0px;
left: 0px;
top: 941px;

border: 1px solid #000000;
transform: rotate(-0.04deg);

}
.wrapper{
    
    
    margin: 55px auto;
    left: -828px;
    width: 320px;
    background-color: #2EB2BA;
    position: relative;
    color: black;
    text-align:center;
    height: 40px;
        z-index: 10000;
    border-top: 1px solid rgba(255,255,255,.3);
    
}
#check-menu{
    display: none;
}
label{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 99999;
    line-height: 40px;
    font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
        
}
.burger-line{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: black;
    transition: .5s all;
  
}
.second,.third{
    top: 18px;
}
.fourth{
    top: 28px;
}
.main-menu{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
    
}
a{
    display: block;
    width: 94%;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-top: 1px solid rgba(255,255,255,.3);
    background-color: #2EB2BA;
    font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 42px;
}
#check-menu:checked ~.main-menu{
    max-height: 500px;
    font-size: 16px;
    
}
#check-menu:checked ~.first{
    display: none;
}
#check-menu:checked ~.second{
    transform: rotate(45deg);
}
#check-menu:checked ~.third{
    transform: rotate(-45deg);
}
#check-menu:checked ~.fourth{
    display: none;
}


/* Rectangle 2 */

position: absolute;
width: 144px;
height: 39px;
left: 0px;
top: 57px;

background: #C4C4C4;
